# Prerequisites
*.d

#folders
.vscode
build
build/*
libs/armadillo
libs/lib_win64
test
*.test.cpp
.qmake.stash
Makefile


# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
src/UI/.qmake.stash


# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
